<div class="bottom">

    <h2>Contacts</h2>
</div>
<section class="contacts">
    <h3>Phone:</h3>
    <p>
        <span>07742812686</span>
    </p>
    <h3>Email:</h3>
    <p>
        <span><a href="mailto:berto.dena@gmail.com">berto.dena@gmail.com</a></span>
    </p>
    <div>
        <a class="linkedin" href="http://uk.linkedin.com/pub/alberto-de-natale/82/900/1b9"><img src="~/Static/images/linkedin.jpg"></img></a>
    </div>
</section>