<div class="bottom">
    <h2>Welcome</h2>
    <p>"Analyzing and conveying ideas of efficiency across various domains is what drives me. I want to make people efficient, and to be as efficient as possible in the process." (Jacob Jenkov)</p>
</div>
<section class="career_path">
    <h2>This is my Career Path</h2>
    <div class="graph">
        <nav>
            <a href="/Master" class="carrer_step"><span class="carrer_step_text">Master in <br> Computer Engineering <br>2012</span></a>
            <a href="/SystemIntegration" class="carrer_step"><span class="carrer_step_text">System <br> Integration<br>2012</span></a>
            <a href="/CCplusplus" class="carrer_step"><span class="carrer_step_text">C/C++<br>2013</span></a>
            <a href="/Java" class="carrer_step"><span class="carrer_step_text">Java<br>2013</span></a>
            <a href="/FrontEndDevelopment" class="carrer_step"><span class="carrer_step_text">Front End<br>2014</span></a>
            <a href="/DotNet" class="carrer_step"><span class="carrer_step_text">.NET<br>2014</span></a>
        </nav>
    </div>
</section>