<div class="project">
	<h3>HTML4/CSS2 website</h3>
	<p>A small static website created for a small company successfully used for 4 years. The technologies
	used were CSS2 and HTML4. The graphic content (buttons, header, backgrounds) was created with GIMP.</p>
</div>