
<div class="project">
	<h3>Calculator</h3>
	<p>As final project for the javascript/jQuery training course I worked
	on the development of a calculator. The project was composed of three step:</p>
	<ul>
		<li>Creation of the calculator with javascript code only</li>
		<li>Rewriting part of the code using jQuery, on this step I worked to make it client server using node.js on the backend</li>
		<li>Styling it using CSS3</li>
	</ul>
</div>