
<div class="project">
	<h3>Database Information Mailer</h3>
	<p>A small Console application, made to run as windows service, with the purpose to
	query a database and send the information with an email.</p>
</div>