
<div class="project">
	<h3>Digital Signature</h3>
	<p>The project was about digital signature. I extended an existing web application and I implemented a desktop application to allow to sign documents with iPad or Wacom tablet. The whole architecure was based on XYZMO. I worked on the following points:
		refactoring of the existing web application
		customize the look and feel of the XYZMO iOS application
		adjust the document creation process to allow checkboxes to be inserted into the pdf. For doing so I had to modify and recompile the opensource library iText with a different name so as not to collide with the already existing and older version.
		allow razor pages to customized setting flags on db
		resolve some bug on the existing web application
		I developed a desktop application to integrate different actors: xyzmo servers, a software module responsible to generate pdf file and the tablet
		I developed a mirroring of the view signer to the view of another monitor so as a supervisor be able to control the process
	</p>
</div>