
<div class="project">
	<h3>DVA Maintenance</h3>
	<p>The main activity I worked on during my permanence at PharmiWeb. I applied customer requests
	on CSS3/HTML5/jQuery projects trying to discuss and escalate non-trivial solutions with my team.</p>
</div>