<div class="project">
	<h3>Videogame Development</h3>
	<p>During the course of <a href="http://games.ws.dei.polimi.it/post/bad-blood/" target="_blank">Videogame Design and Development</a> 
	we developed in a team of 5 people, the videogame "Bad Blood" using XNA and C# and targeting windows mobile. I worked on:</p>
	<ul><li>The attack mode</li><li>The trajectories of viruses and bacteria</li></ul>
	<div class="videoWrapper">
		<iframe width="560" height="315" src="//www.youtube.com/embed/1NfdWkJItaY" frameborder="0" allowfullscreen></iframe>
   	</div>
</div>