
<div class="project">
	<h3>Identity Masking</h3>
	<p>Translation of some existing data masking routines from COBOL into C. 
	The routines had to mask people sensitive data so as to create a data set 
	on which devolopers could work on.</p>
</div>