
<div class="project">
	<h3>Identity Management</h3>
	<p>The project aimed to end an existing deployment where the core 
	product was Oracle Waveset. 
	Identity management is a relevant topic for big institutions 
	that need centralized instruments to spread people information across their systems. 
	The project required to work on access control, password management, workflow automation,
	provisioning, single sign-on, role based access control.

	The following tasks were involved into the project:</p>

	<ul>
		<li>Development of an XPRESS workflow aimed to query a relational database for new data to be moved into other databases, including an ldap used to authenticate students throught Shibboleth protocol (based on SAML).</li>
		<li>Development of an XPRESS workflow used to delete employers identities when matching against a set of business rules.</li>
		<li>With JavaSE, Unix Bash, Dos bash, TCL scripting and in a Windows Domain context, design and development of a role-based "folder manager" responsible to update a set of file-system folder's ACL (Access control list) and structure them on a user-role basis.</li>
		<li>Development of a Unix bash script aimed to propagate passwords between two different LDAPs, after converting them to {sha} format</li>
	</ul>
</div>