<div class="project">
	<h3>Monopoly</h3>
	<p>The project for the course of "Software Engineering" aimed to develop a virtual
	desktop version of the "Monopoly" game. It was developed in Java SE with Eclipse IDE.
	During the process we tried to apply software engineering best practices learned during the
	course and UML to design and document the existing classes.</p>
</div>