<div class="project">
	<h3>Java EE project with MySQL Database</h3>
	<p>The project was the conjunction of the two projects for the courses "Database 1" and 
	"Informative Systems" and aimed to create an informative system for an abstract company. The 
	technologies used were Java EE, JSP and MySQL. The projects ultimate purposes were to apply
	design language learned during the courses such as UML (use case diagram, sequence diagram, class
	diagram) and ER diagrams to design and document the software implemented.</p>
</div>