<div class="project">
	<h3>Maya Exporter</h3>
	<p>The project aimed to create a software chain composed of three modules. 
	The first, written in C++ with Maya Apis, is accounted to export an XML document of a 
	3D Maya scene. The second, written in python and using python elements, 
	responsible to export a subset of an XML document in another. 
	The third written in C++ and using TinyXML, is responsible to load the scene into
	a C++ videogame engine.</p>
</div>