
<div class="project">
	<h3>Natural Language Processing</h3>
	<p>The project required in the ambit of “Natural Language Processing” course
	takes an english text with puntuaction absent and produces the same text with 
	puntuaction, giving back some statistics about successes and failures. 
	The program consists of the following modules:
</p>
	<ul>	
		<li>A text cleaner</li>
		<li>A Pos Tagger</li>
		<li>Shallow Parser</li>
		<li>A Conditional Random Fields (CRF)</li>
		<li>A Makefile</li>
	</ul>
</div>