
<div class="project">
	<h3>Parallel Computation</h3>
	<p>The project for my master's thesis required the implementation of a set of well known serial 
	algorithms on strings for a multi-core (around 100) architecture. 
	The thesis is readable by following <a href="~/Static/content/thesis.pdf" target="_blank">a link to the .pdf</a>.</p>
</div>