
<div class="project">
	<h3>Particle Filter</h3>
	<p>Development of a particle filter for the course "Software Workshop". 
	The software purpose was tracking elements on a video, such as cars running through a roundabout.
	Beginning from a documented <a href="~/Static/content/particle_filter.pdf" target="_blank">thesis</a>, the project 
	required to implement the particle filter algorithm. 
	On the video is possible to see the position of a robot foot tracked by the algorithm.</p>
	<div class="videoWrapper">
		<iframe width="100%" height="300px" src="//www.youtube.com/embed/RgfZZ5dNHAU" frameborder="0" allowfullscreen></iframe>
	</div>
</div>