<div class="project">
	<h3>A*</h3>
	<p>A project aimed to develop a path finding module for a game engine. The project was developt in C++ and tested with different data structures for a graph.</p>
</div>