<div class="project">
	<h3>PHP application hardening</h3>
	<p>The project required working with a senior team on a project aimed to secure an unsafe CRM written in PHP. 
	The main vulnerabilities were SQL Injection and XSS. 
	I studied and documented how to enforce input validation on PHP.</p>
</div>