
<div class="project">
	<h3>Security Groups Manager</h3>
	<p>The project aimed to manage student enrols to a university. 
	The frameworks adopted were Spring and Hibernate. 
	The software had to take registrations from student and 
	interfacing with the identity manager behind to it.</p>
</div>