
<div class="institution">
	<h3>PharmiWeb Solutions</h3>
	<p>PharmiWeb Solutions is a leading company in the pharmaceutical IT technologies 
	named as one of the Top 100 Tech/Media companies in the UK (The Guardian, Tech Media Invest 100).</p>
	<a href="http://pharmiwebsolutions.com" target="_blank">website</a>
</div>